
config fxs 'first_config_block_gets_used'
	option debug '1'
	option opermode 'FCC'
	option echocan '1'
	option tonezone 'us'
	option signalling 'ks'
	option txgain '0'
	option rxgain '0'
	option rxflash '1250'
	option immediate 'no'
	option mailbox ''
	option mwi '0'

config fxs 'italian_config'
	option debug '1'
	option opermode 'TBR21'
	option echocan '1'
	option tonezone 'it'
	option signalling 'ls'
	option txgain '0'
	option rxgain '0'
	option rxflash '400'
	option immediate 'yes'
	option mailbox 'vittgamvoip613@SIP_Remote'
	option mwi '1'
