
config fxs 'first_config_block_gets_used'
	option debug '1'
	option opermode 'FCC'
	option tonezone 'us'
	option signalling 'ks'
	option txgain '0'
	option rxgain '0'
	option rxflash '1250'
	option immediate 'no'
	option mailbox ''

config fxs 'example_italian_config'
	option debug '1'
	option opermode 'TBR21'
	option tonezone 'it'
	option signalling 'ls'
	option txgain '0'
	option rxgain '0'
	option rxflash '400'
	option immediate 'yes'
	option mailbox 'vittgamvoip613@SIP_Remote'
